<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>AllPatients</title>
<style>
    body {
        background-color: powderblue;
    }

    h1 {
        color: blue;
    }

    p {
        color: red;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
</head>
<body>
<table>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Second Name</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Healths Complaints</th>
    </tr>

    <th:block th:each="patients:${allPatients}">
        <tr>
            <td th:text="${patients.id_patient}"></td>
            <td th:text="${patients.firstName}"></td>
            <td th:text="${patients.secondName}"></td>
            <td th:text="${patients.dateOfBirth}"></td>
            <td th:text="${patients.healthsComplaints}"></td>
        </tr>
    </th:block>
</table>
<input type="button" value="Create new patient" onclick="window.location.href='newPatient'"/>
</body>
</html>