<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
<!--        <link rel ="stylesheet" href ="styles.css">-->
    <style>
        /*body {*/
        /*    font-family: Arial, Helvetica, sans-serif;*/
        /*    background-color: powderblue;;*/
        /*}*/

        /** {*/
        /*    box-sizing: border-box;*/
        /*}*/

        /*.container {*/
        /*    padding: 20px;*/
        /*    background-color: white;*/
        /*}*/

        /*input[type=text], input[type=password] {*/
        /*    width: 100%;*/
        /*    padding: 15px;*/
        /*    margin: 5px 0 22px 0;*/
        /*    display: inline-block;*/
        /*    border: none;*/
        /*    background: #33ccff;*/
        /*}*/

        /*input[type=text]:focus, input[type=password]:focus {*/
        /*    background-color: #33ccff;*/
        /*    outline: none;*/
        /*}*/

        /*hr {*/
        /*    border: 1px solid #f1f1f1;*/
        /*    margin-bottom: 25px;*/
        /*}*/

        /*a {*/
        /*    color: dodgerblue;*/
        /*}*/

        /*.adminMessage {*/
        /*    background-color: #f1f1f1;*/
        /*    text-align: center;*/
        /*}*/
        /*.button {*/
        /*    background-color: #33ccff;*/
        /*    border: none;*/
        /*    color: white;*/
        /*    padding: 20px;*/
        /*    text-align: center;*/
        /*    text-decoration: none;*/
        /*    display: inline-block;*/
        /*    font-size: 16px;*/
        /*    margin: 4px 2px;*/
        /*    cursor: pointer;*/
        /*}*/
        /*.button4 {border-radius: 12px;}*/
    </style>
    <title></title>
</head>
<body>
<div>
    <sec:authorize access="!isAuthenticated()">
<!--        <h4><a href="/login">Войти</a></h4>-->
<!--        <h4><a href="/registration">Зарегистрироваться</a></h4>-->
    </sec:authorize>
    <sec:authorize access="isAuthenticated()">
<!--        <h4><a href="/logout">Выйти</a></h4>-->
    </sec:authorize>
    <h4><a href="/patient/findAllPatients">All patients</a></h4>
    <h4><a href="/allEmployees">Employees</a></h4>
    <h4><a href="/allTherapy">Therapy</a></h4>
</div>

</body>
</html>

