<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Hospital</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!--        <link rel ="stylesheet" href ="styles.css">-->
    <style>
</style>
<body>

<h1 style="color:blue;font-size:300%;text-align:center;">Welcome to the hospital!</h1>
<p>    </p>
<p>    </p>

<br><br><br>
<div>
    <p style="font-size:160%;">Please sign in<a href="http://localhost:8080/main">Sign in</a>.</p>
</div>
</body>
</html>